{% include 'header.html' %}

        <div class="sixteen columns">
            <h3 class="sub-title center">Sobre la vida, obra y desastres de Leandro Poblet</h3>
            
            <div class="photo"><img src="{{ config['STATIC_URL'] }}img/pic.jpg" width="140" height="120" alt="" /><p>El buen-mozo de esta foto es<br /> conocido como Leandro Poblet.</p></div>
            <p>Leandro Poblet es un ciudadano europeo, más precisamente alemán, que vivió toda su vida en Argentina (más precisamente, Quilmes). Nacido el 20 de octubre <small>(Curiosidad: Nací el mismo día que Snopp Dogg)</small> de 1994, he vivido 18 años de los cuales 4 me he dedicado a la programación amateur y 13 al inglés de nivel profesional, aunque debo admitir que solamente disfruté los últimos 3 años.</p>
            <p>Empecé en el mundo de la programación a los 14 años con PHP, y la verdad no quiero volver a esas épocas. Aunque, gracias a muchos proyectos en los que me metí aprendí un montón, el mundo del PHP parece algo muy distante y poco práctico en comparación a python. En un momento hice un curso de diseño web en la UTN, pero aprendí más por mi cuenta que yendo 11 meses, 2 veces por semana a sentarme frente a una computadora para aprender a manejar Dreamweaver, Flash y Fireworks.</p>
            <p>Más de 2 años fue de ese curso, hoy en día me apasiona el diseño y desarrollo web tanto front-end como back-end. Me fascina la tipografía y las fuentes, los <i>patterns</i> y los colores que están dentro de la escala del gris (aunque no me jode usar otros). Me encanta usar Python, este sitio de por sí está potenciado por Flask y seguramente mis proyectos utilicen Flask o Django en el futuro, y me encanta hacerlo por el fin de sentirme realizado.</p>
            <p>Hoy en día, la programación a tomado una importancia gigante en mi vida. Pero también me dedico a la escritura de manera amateur, como una vez lo fué la programación, y mi deseo de poder aprender a tocar la trompeta o al menos <i>Moanin'</i> antes de morir.</p>
        </div>

{% include 'footer.html' %}