        <div class="sixteen columns footer">
            <p>Potenciado por <a href="http://www.python.org" target="_blank">Python</a>, <a href="http://flask.pocoo.org/" target="_blank">Flask</a>, <a href="http://www.sqlalchemy.org/" target="_blank">SQLAlchemy</a> y muchos dolores de cabeza. | <a href="{{ url_for('admin') }}">Administración</a></p>
        </div>
    </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>