<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Leandro Poblet</title>
        <meta name="description" content="Portfolio y blog personal de Leandro Pobletz">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {% assets 'styles' %}
            <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

	<div class="container main">
        <div class="sixteen columns">
            <h1 class="title">Leandro Poblet</h1>
            
            <ul class="horizontal sub-menu">
                <li><a href="{{ url_for('bio') }}">Biografía</a></li>
                <li><a href="{{ url_for('proyects') }}">Proyectos</a></li>
                <li><a href="{{ url_for('blog') }}">Blog</a></li>
                <li><a href="{{ url_for('contact') }}">Contacto</a></li>
            </ul>
            <hr />
        </div>